/* app css stylesheet */

body {
  background-color: #5ed5ee;
}

.navbar-brand {
    padding: 0px 5px;
    width: 60px;
}

.navbar-brand img {
    width: 50px;
}

.navbar ul {
    width: 96%;
}

.panel-default {
    border-color: #40C6D8;
    background-color: #999;
    color: #FFF;
}

.panel-default > .panel-heading {
    background-color: #595959;
    border-color: #40C6D8;
}

.panel-title {
    color: #40C6D8;
}

.list-group-item {
    text-align: center;
    background-color: #595959;
    border-color: #40C6D8;
}

.list-group-item a {
    color: #40C6D8;
    font-weight: bold;
}

.user-list a {
    color: #575757;
    font-weight: bold;
}

.user-list a:hover {
    color: #2299b2;
}

.badge {
    background-color: #5ed5ee;
}