<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <!--Sidebar content-->
    </div>
    <div class="col-xs-10">
      <!--Body content-->

      <div>
        <div ng-repeat="video in news" class="panel panel-default">
        <div class="panel-heading">
          <a href="#/video/{{video._id}}"><img ng-src="{{videoImageUri}}{{video._id}}" />{{video.imageUrl}}</a>
          <a href="#/video/{{video._id}}"><h4 class="panel-title">{{video.title}}</h4></a>
        </div>
        <div class="panel-body">
          <p>{{video.description}}</p>
          <p>{{video.duration}}</p>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
