<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
    </div>
    <div class="col-md-10">
      <!--Body content-->


      <h2>Profile</h2>
      <form ng-submit="update()">
	<p>
	  <label>Name*</label>
	  <input type="text" placeholder="Name" ng-model="name" name="user.name" ng-value="user.name" ng-required="true" />
	</p>
	<p>
	  <label>Login</label>
	  <span>{{user.local.login}}</span>
	</p>
	<p>
	  <label>Email</label>
	  <span>{{user.local.email}}</span>
	</p>
	<p>
	  <label>New Password*</label>
	  <input type="password" placeholder="New Password" ng-model="user.password" ng-required="true"/><br/>
	</p>
	<p>
	  <label>New Password Confirmation*</label>
	  <input type="password" placeholder="New Password Confirmation" ng-model="user.password2" ng-required="true"/><br/>
	</p>
	<p>
	  <button type="submit">Update</button>
	</p>
	<p>{{errorMessage}}</p>
      </form>
    </div>
  </div>
</div>
