<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <!--Sidebar content-->
    </div>
    <div class="col-xs-10">
      <!--Body content-->
      <div class="panel panel-default">
        <div class="panel-heading"><h3>{{user.name}}</h3></div>
        <div class="panel-body">
          <form>
            <div class="form-group col-xs-7">
              <label for="sub-date">Subscription Date</label>
              <input type="text" value="{{user.inscriptionDate}}" id="sub-date" class="form-control" readonly/>
            </div>
            <div class="form-group col-xs-7">
              <label for="video-number">Videos Number</label>
              <span class="badge">{{countVideos}}</span>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h3>{{user.name}}'s Videos</h3></div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li ng-repeat="video in videos">
              <p class="col-xs-7">
                <a href="#/video/{{video._id}}"><img class="list-item-image" ng-src="{{videoImageUri}}{{video._id}}" />{{video.imageUrl}}</a>
                <a href="#/video/{{video._id}}" class="list-item-title">{{video.title}}</a>
              </p>
              <p class="col-xs-12">
                <span class="badge">{{video.duration}} sec.</span>
              </p>
              <p class="col-xs-10">
                <p class="well col-xs-8" readonly>{{video.description}}</p>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
