<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <!--Sidebar content-->
    </div>
    <div class="col-xs-10">
      <!--Body content-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Upload</h2>
            </div>
            <div class="panel-body">
              <form ng-submit="upload()">
            <div class="form-group col-xs-8">
              <label for="title-input">Title *</label>
              <input type="text" class="form-control" placeholder="Title" id="title-input" ng-model="video.title" ng-required="true" />
            </div>
            <div class="form-group col-xs-8">
              <label for="desc-input">Description</label>
              <textarea class="form-control" id="desc-input" placeholder="Description" ng-model="video.description"></textarea>
            </div>
            <div class="form-group col-xs-8">
              <label for="channel-input">Channel *</label>
              <select class="form-control" id="channel-input" ng-options="channel._id as channel.name for channel in channels" ng-model="video.idChannel">
              </select>
            </div>
            <div class="form-group col-xs-8">
              <label for="video-input">Video *</label>
              <input id="video-input" type="file" ng-Change="onFileSelect(this)" ng-file-select="onFileSelect(this)" ng-model="video.src"  ng-required="true" accept="{{VideoTypeSupported}}" />
              <span class="help-block">Supported format: .mp4, .webm and .avi</span>
              <p>{{processing}}</p>
            </div>
      	    <div class="form-group col-xs-8">
      	      <label for="tags-input">Tags</label>
      	      <input id="tags-input" class="form-control" type="text" ng-model="video.tags"/>
      	      <span class="help-block">Separate tags by space</span>
      	    </div>
            <p class="col-xs-8">
              <button class="btn btn-info" type="submit">Upload</button>
            </p>
            <p class="col-xs-8">{{errorMessage}}</p>
              </form>
            </div>
        </div>
    </div>
  </div>
</div>
