<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
    </div>
    <div class="col-md-10">
      <!--Body content-->


      <h2>Upload</h2>
      <form ng-submit="upload()">
	<p>
	  <label>Title*</label>
	  <input type="text" placeholder="Title" ng-value="title" ng-required="true" />
	</p>
	<p>
	  <label>Video*</label>
	  <input type="file" ng-value="src" ng-required="true" />
	</p>
	<p>
	  <button type="submit">Upload</button>
	</p>
	<p>{{errorMessage}}</p>
      </form>
    </div>
  </div>
</div>
