<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Edit Video</div>
            </div>
            <div class="panel-body">
                <form ng-submit="update()">
                    <div class="col-xs-6">
                        <img class="col-xs-12" ng-src="{{videoImageUri}}{{video._id}}" />
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="title-input">Title *</label>
                        <input id="title-input" type="text" class="form-control" ng-model="video.title" ng-required="true"/>
                    </div>
                   <div class="form-group col-xs-6">
                      <label for="desc-input">Description</label>
                      <textarea class="form-control" id="desc-input" placeholder="Description" ng-model="video.description"></textarea>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="channel-input">Channel *</label>
                        <select class="form-control" id="channel-input" ng-options="channel._id as channel.name for channel in channels" ng-model="video.idChannel">
                        </select>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="tags-input">Tags</label>
                        <input id="tags-input" class="form-control" type="text" ng-model="video.tagsString"/>
                        <span class="help-block">Separate tags by space</span>
                    </div>
                    <div class="button-block col-xs-12">
                        <button class="btn btn-info" type="submit">Update</button>
                        <button class="btn btn-danger" ng-click="delete()">Delete</button>
                    </div>

                </form>
                <p>{{message}}</p>
            </div>
        </div>
    </div>
</div>
</div>
