<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
    </div>
    <div class="col-md-10">
      <!--Body content-->

      <h2>Edit Video</h2>
      <form ng-submit="update()">
	<p>
	  <img ng-src="{{videoImageUri}}{{video._id}}" />
	</p>
	<p>
	  <label>Title*</label>
	  <input type="text" placeholder="Title" ng-model="video.title" ng-required="true" />
	</p>
	<p>
	  <label>Description</label>
	  <input type="text" placeholder="Description" ng-model="video.description" />
	</p>
	<p>
	  <label>Channel*</label>
	  <select ng-options="channel._id as channel.name for channel in channels" ng-model="video.idChannel">
	  </select>
	</p>
	<p>
	  <button type="submit">Upload</button>
	</p>
      </form>
	<p>
	  <button ng-click="delete()">Delete</button>
	</P>
	<p>{{message}}</p>
      <div>
      </div>
    </div>
