<h1>{{video.title}}</h1>

<video ng-src="{{videoURL}}" controls></video>

<p>{{video.description}}</p>

<ul>
  <li>
    <span>Duration</span>
    <dd>{{video.duration}}</dd>
  </li>
  <li>
    <span>View</span>
    <dd>{{video.view}}</dd>
  </li>
  <li>
    <span>Channel</span>
    <dd><a href="#/videos/{{video.idChannel}}/1">{{video.channel}}</a></dd>
  </li>
  <li>
    <span>User</span>
    <dd><a href="#/user/{{video.idUser}}">{{video.user}}</a></dd>
  </li>
  <li>
    <span>Upload Date</span>
    <dd>{{video.uploadDate}}</dd>
  </li>
</ul>
<div ng-repeat="comment in comments">
  <a href="#/user/{{comment.idUser}}">{{comment.user}}</a>
  <p>{{comment.date}}</p>
  <p>{{comment.text}}</p>
</div>
<p>{{errorComments}}</p>
<div ng-show="isLoggin()">
  <form ng-submit="submitComment()">
    <p>
      <input type="text" placeholder="Comment" name="comment" ng-model="comment" ng-required="true" />
    </p>
    <p>
      <button type="submit">Add</button>
    </p>
    <p>{{errorMessage}}{{message}}</p>
  </form>
<div>
