<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
    </div>
    <div class="col-md-10">
      <!--Body content-->
      Search: <input ng-model="query" ng-change="filter()" focus-me="isFocused=true" >
      <ul>
        <li ng-repeat="video in videos">
          <a href="#/video/{{video._id}}"><img ng-src="{{videoImageUri}}{{video._id}}" />{{video.imageUrl}}</a>
          <a href="#/video/{{video._id}}">{{video.title}}</a>
          <p>{{video.description}}</p>
          <p>{{video.duration}}</p>
        </li>
      </ul>
      <table>
	<tr>
	  <td ng-repeat="i in getNumber(nbPages) track by $index">
	    <a href="#/videos/{{idChannel}}{{$index+1}}">{{$index+1}}</a>
	  </td>
	</tr>
      </table>
    </div>
  </div>
</div>
